<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @suggestion.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @suggestion.user %>
</p>

<p>
  <strong>Event:</strong>
  <%= @suggestion.event %>
</p>

<%= link_to 'Edit', edit_suggestion_path(@suggestion) %> |
<%= link_to 'Back', suggestions_path %>
